p {
    width: 200px;
    padding: 10px 20px 10px 20px;
    border: 2px dotted white;
    color: white;
    background-color: darkgray;
    margin: 30px;
    text-align: center;
}

#padding {
    height: 250px;
    padding: 15px;
    background-color: lightgray;
}

#border {
    height: 250px;
    border: 15px solid lightgray;
}